html, body {
    background-color: #f0f0f0;
    color: #000;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    margin: 0;
}
hr{
    background-color: #dcdcdc;
    height: 1px;
}
#divider-lg{
    margin-top: 50px;
    margin-bottom: 50px;
}
.row{
    padding: 0px;
    margin: 0px;
}
.full-height {
    height: 100vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url("../img/logo5.png");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #fff;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.main-body{
    color: #000;
    width: 100%;
    margin: auto;

}
.about-us p{
    padding: 20px;
}
#heading{
    font-size: 50px;
}
#contact{
    background-image: url("../img/vit2.png");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 20%;
    
}
#contact h1,#contact h4{
    text-shadow: 8px 8px 30px #000;
}
.content_contact{
    background: #000;
}
#contact ul li{
    list-style: none;
    padding: 10px;
    text-shadow: 2px 2px #ff0000;
}
.quote{
    height: 50vh;
}
.connect{
    background-image: url("../img/connect_back.png");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    height: 100vh;
}
.connect .area{
    width: 40%;
    margin: auto;
    background-color: #efefef;
    height: 70vh;
    border-radius: 5px;
    padding-top: 15px;
}
.area input{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}
#button{
    width: 100%;
    padding: 15px;
    border:1px solid #2d67b2;
    background-color: #fff;
    color: #2d67b2;
}
#button:hover{
    padding: 15px;
    border:1px solid #2d67b2;
    background-color: #2d67b2;
    color: #fff;
}
.form .col-md-12{
    padding:5px;
}
.footer{
    padding-top: 10px;
    padding-bottom: 1px;
    color: #000;
}